<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple"
        <%= (((params[:is_visible] == 'simple-form') || (params[:is_visible].nil?) )  ) ? 'checked' : ''  %>>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced" <%= params[:is_visible] == 'advanced-form' ? 'checked' : ''  %>>
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>
    <%= search_form_for @q do |f| %>
      <%=hidden_field_tag :is_visible, 'simple-form'%>
      <div class="simple-form" style="<%= (((params[:is_visible] == 'simple-form') || (params[:is_visible].nil?) )  ) ? '' : 'display:none'  %>">
        <div class="simple-form__input">
          <%= f.search_field :name_or_description_cont, class: 'form-control form-control-lg', placeholder: 'o que procura?' %>
        </div>
        <div class="simple-form__btn">
          <button type="submit" class="btn btn-outline-primary btn-lg">Pesquisar</button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="advanced-form" style="<%= params[:is_visible] == 'advanced-form' ? '' : 'display:none'  %> ">
    <h3>Pesquisa Avançada</h3>
    <%=search_form_for @q do |f|%>
    <input name="utf8" type="hidden" value="✓">
      <%=hidden_field_tag :is_visible, 'advanced-form'%>
      <div class="form-item">
        <%=f.label :name_or_description_or_manufacturer_cont, 'Palavra-chave' %>
        <%=f.search_field :name_or_description_or_manufacturer_cont, class: "", "data-com.bitwarden.browser.user-edited": "yes" %>
      </div>
      <div class="form-item">
          <%=f.label :width_lteq, 'Largura - max(100)' %>
          <%=f.search_field :width_lteq, type: :number, max: 100, min: 0 %>
      </div>
      <div class="form-item">
        <%=f.label :height_lteq, 'Altura - max(40)' %>
        <%=f.search_field :height_lteq, type: :number, max: 40, min: 0 %>
      </div>
      <div class="form-item">
        <%=f.label :lenght_lteq, 'Comprimento - max(200)' %>
        <%=f.search_field :lenght_lteq, type: :number, max: 200, min: 0 %>
      </div>
      <div class="form-item">
        <%=f.label :weight_lteq, 'Peso - max(3000)' %>
        <%=f.search_field :weight_lteq, type: :number, max: 3000, min: 0 %>
      </div>
      <div class="form-item">
        <%=f.label :price_lteq, 'Preço' %>
        <%=f.search_field :price_lteq, type: :number %>
      </div>
      <div class="form-item">
        <%=f.label :structure_type_eq, 'Estrutura' %>
        <%=f.select :structure_type_eq, grouped_options_for_select({
          'Ignorar' => ['Ignorar Estrutura'],
          'Tipo de Estrutura' =>PowerGenerator.structure_types
        }, params[:q] && params[:q][:structure_type_eq].to_i)%>
      </div>
      <div class="form-item">
        <button type="submit" class="btn btn-outline-primary btn-lg">Pesquisar</button>
      </div>
    <%end%>
  </div>
  
  <div class="container" >
    <% @power_generators.each do |power_generator| %>
      <div class="box card power_generator-card">
        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
        <div class="power_generator-card__body">
          <h2><%= power_generator.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= power_generator.description %></p>
          <p><strong>Calcular frete. Digite o seu CEP</strong></p>
          <%= form_for power_generator, url: freight_power_generator_path(power_generator), remote: true do |f|%>
          <p>
            <%=f.text_field :destination %>
            <%=f.submit 'Calcular' %>
          </p>
          <span id="<%= "destination_#{power_generator.id}" %>"></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
